@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Pacifico&display=swap');

body ,p{
    margin: 0;
    padding: 0;
}

.card {
    width: 450px;
    /* border: 1px solid black; */
    -webkit-box-shadow: 0px 0px 13px 3px rgba(0,156,114,1);
    -moz-box-shadow: 0px 0px 13px 3px rgba(0,156,114,1);
    box-shadow: 0px 0px 13px 3px rgba(0,156,114,1);
 
}

.card img {
    width: 100%;
}

a {
    text-decoration: none;
    color: black;
}

.content-card {
    margin: 15px;
    text-align: left;
}

.card p {
    display: none;
}

.card:hover p {
    display: block;
}

header {
    width: 100%;
    height: 130px;
    background-color: #E0DFD5;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}

header figure {
    width: 100px;
    height: 100px;
    margin: 0%;
    background-image: url(../images/logo0.svg);

}

header figure:hover {
    background-image: url(../images/logo90.svg);

}

header figure:active {
    background-image: url(../images/logo180.svg);
}

header span {
    font-family: 'Kaushan Script', cursive;
    font-size: 2em;
    margin-top: 60px;
    text-shadow: 3px 1px #56E39F;
    color: #F06543;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

footer {
    width: 100%;
    height: 200px;
    background-color: #313638;
    color: #E8E9EB;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 10px;
}

.copyright {
    width: 20%;
}

.info {
    width: 30%;
    height: 80px;
    border: 1px solid #F06543;
    margin: 10px;
}